# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: LLVM

IndentWidth: 4

BreakBeforeBraces: Allman

SpaceBeforeParens: Always
SpaceBeforeRangeBasedForLoopColon: true
SpaceBeforeSquareBrackets: true
SpaceInEmptyBlock: true
SpacesInParentheses: true
SpacesInSquareBrackets: true